h1, h2, h3, h4, h5, h6 {
    color: #DDDDDD;
}

.progress {
    background: #555555;
    margin: 1em;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: chocolate;
    height: 100%;
    overflow: hidden;
    padding: 2em;
}

.bigger_label {
    font-size: 19em;
    color: rgba(255,255,255,0.5)
}


.medium_label {
    font-size: 4em;
    color: rgba(255,255,255,0.5);
    padding-left: 5px;
}


.darktheme {
    background-color: #333333;
}

.big_label{
    margin-top: -0.08em;
    font-size: 11em;
    color: rgba(255,255,255,0.5)
}

.progress span{
    display: block;
    position: absolute;
    width: 90%;
    overflow: hidden
}

body {
    cursor: none;
}